body {
    font-family: sans-serif;
}

h1, h3 {
    text-align: center;
}

table { 
width: 1000px; 
border-collapse: collapse; 
margin:50px auto;
font: 25px THSarabunNew;
box-shadow: 1px 1px 10px grey;
margin:0 auto;
}

tr {
background: white;
}

tr:nth-of-type(odd) { 
background: #eee; 
}

td { 
padding: 10px;
padding-left: 100px;
border: 1px solid #ccc; 
text-align: left;
width: 50%;
}

th { 
border: 1px solid #ccc; 
background: #3498db; 
color: white; 
font-weight: bold; 
text-align: center;
width: 50%;
}

button {
font: 25px THSarabunNew;
box-shadow: 1px 1px 10px grey;
margin: 0 auto; 
display: block;
margin-top: 10px;
width: 100px;
}

input {
width: 80%;
}
